<h2>Fabriken</h2>

<table>
    <tr>
        <th>Stufe</th><th class="price-value">Fabrik</th><th class="price-value">Produktionsleistung (/h)</th><th class="price-value">Produkt</th><th class="price-value">Umsatz ($/h)</th>
    </tr>
    <tr ng-repeat="factory in factories">
        <td><input type="number" value=""></td>
        <td>{{factory.label}}</td>
        <td>{{factory.production.rate | number}}</td>
        <td>{{product[factory.production.productId].label}}</td>
        <td>{{product[factory.production.productId].price * factory.production.rate | number}}</td>
    </tr>
</table>